@each $name, $color in $color_list {
  .section-list--#{$name} {
    .section__title {
      background: $color;
    }
    .section__title--subsection {
      background: rgba($color,0.7);
    }
  }
  
  .section-list__more--#{$name}  {
    color: $color;
    border-top: 1px solid rgba(177,177,177,0.7);
  }

  .section-list__more--subsection--#{$name}{
    color: $color;
  }
}
