@each $name, $color in $color_list {
	.section-list--#{$name} {
		.section__title {
			background: $color;
		}
		.section-list__title {
			background: rgba($color,0.7);
		}
		.section-list__more {
			color: $color;
		}
	}
}
