
.l-indent {
  padding: 9px 16px;
}

.l-generic-padding {
    padding: 10px 16px;
}

.l-indent--deep {
  padding: 14px 24px;
}

.l-row {
  clear: both;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.l-half {
  width: 50%;
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}

@import "l-header";
@import "l-footer";