
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
<div class="articles nav">
  <h2 class="list-header">{% trans "Recommended" %}</h2>
  {% for article in articles %}
  <ul class="list-block">
    <li>
      {% if article.image %}
      <a href="{% pageurl article %}">{% image article.image width-60 %}</a>
      {% endif %}
      {% with article.get_parent as category %}
      <a href="{% pageurl category %}" class="category-{{category.slug}}">{{category.title}}</a>
      {% endwith %}
      <a href="{% pageurl article %}"><strong>{{article.title}}: </strong>{{article.subtitle}}</a>
    </li>
  </ul>
  {% endfor %}
</div>
{% endif %}
