{% load wagtailcore_tags core_tags i18n %}

{% for section in sections %}
  <h1 class="heading heading{{section.get_effective_extra_style_hints}} l-indent f-big">
    <a href="{% pageurl section %}">{{section.title}}</a>
  </h1>
  {% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
  <ul class="article-list article-list{{section.get_effective_extra_style_hints}}">
    {% for article in featured_articles %}
    <li class="article-list__item l-indent l-indent--tall">
       <a href="{% pageurl article %}">
            <h2 class="article-list__title">{{article.title}}</h2>
            <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
        </a>
    </li>
    {% endfor %}
    <li class="article-list__item article-list__item--more l-indent"><a href="{% pageurl section %}">{% trans "More" %} {{section.title}} &gt;</a></li>
  </ul>
{% endfor %}
s