
{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}
{% if sections %}
{% for section in sections %}

{% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
{% if featured_articles %}
<div class="section-list section-list{{section.get_effective_extra_style_hints}}">
	<h1 class="heading heading--section heading--section{{section.get_effective_extra_style_hints}}">
		<a href="{% pageurl section %}">{{section.title}}</a>
	</h1>

		<h3>{{sub_section.title}}</h3>
		<ul class="article-list">
		{% for article in featured_articles %}
			<li class="article-list__item {% if forloop.first %} article-list__item--hero{% endif %}">
				<a href="{% pageurl article %}" class="article-list__container">
					{% if article.image %}
						<div class="article-list__image">
							{% image article.image width-290 %}
						</div>
					{% endif %}
					<h2 class="article-list__title">{{article.title}}</h2>
					<h4 class="article-list__subtitle">{{article.subtitle}}</h4>
					<p class="article__date f-small">{{self.first_published_at | date:"j F Y"}}</p>
				</a>
			</li>
		{% endfor %}
		</ul>

	<a href="{% pageurl section %}" class="article-list__item--more">{% trans "More" %} {{section.title}} &gt;</a>
</div>
{% endif %}

{% endfor %}
{% endif %}


{#{% load_descendant_articles_for_section section featured_in_homepage=True as articles %}#}
{#{% if articles %}#}
{#{{section.title}}#}
{#{{sub_section.title}}#}
{#{% for featured_article in articles %}#}
{#{{featured_article.title}}#}
{#{% endfor %}#}
{#{% endif %}#}
