{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}

{% if sections %}
{% for section in sections %}

	{% load_child_sections_for_section section as sub_sections %}
	{% if sub_sections %}
	<h3 class="section-title section-title{{section.get_effective_extra_style_hints}}">{{section.title}}</h3>
		{% for sub_section in sub_sections %}
		<div class="section-list section-list{{section.get_effective_extra_style_hints}}">
			{% load_descendant_articles_for_section sub_section featured_in_homepage=True as featured_articles %}
			{% if featured_articles %}
				<h4 class="section-list__title">{{sub_section.title}}</h4>
				<ul class="article-list">
					{% for article in featured_articles %}
						<li class="article-list__item">{{article.title}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		{% endfor %}
	{% endif %}

{#{% load_descendant_articles_for_section section featured_in_homepage=True as articles %}#}
{#{% if articles %}#}
{#{{section.title}}#}
{#{{sub_section.title}}#}
{#{% for featured_article in articles %}#}
{#{{featured_article.title}}#}
{#{% endfor %}#}
{#{% endif %}#}
{% endfor %}
{% endif %}

