
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if sections %}
{% for section in sections %}
<div class="articles nav {{section.get_effective_extra_style_hints}}">
  <h2 class="list-header">
    <a href="{% pageurl section %}">{{section.title}}</a>
  </h2>
  {% for article in section.featured_articles_in_homepage %}
  <ul class="list-block">
    <li>
      {% if article.image %}
      <a href="{% pageurl article %}">{% image article.image width-60 %}</a>
      {% endif %}
      <a href="{% pageurl article %}"><strong>{{article.title}}: </strong>{{article.subtitle}}</a>
    </li>
  </ul>
  {% endfor %}
  {% if section.featured_articles_in_homepage|length < section.articles|length %}
  <div class="pagi">
    <a href="{% pageurl section %}">{% trans "More" %} {{section.title}} &gt;</a>
  </div>
  {% endif %}
</div>
{% endfor%}
{% endif %}

