.languages {
  background: #eee;
  text-align: right;
  border-bottom: 1px solid #ddd;
  a {
    color: $orange;
    &:after {
      content: " | ";
      color: #ddd;
      padding: 5px 0;
    }
    &:last-child:after {
      content: "";
    }
  }

  a.active {
      color: #999;
  }
}
