.navigation {
  text-align: center;
  padding: 10px 16px;
  a {
    color: #666;
    font-weight: bold;
    white-space: nowrap;

    &:after {
      content: " | ";
      color: #ddd;
    }

    &:last-child:after {
      content: "";
    }
  }
}

.navigation--footer {
  background: $orange;
  a {
    color: #fff;
  }
}
