{% load i18n wagtailcore_tags core_tags %}

<div class="navigation f-medium l-indent  {{extra_classes}}">

  <ul class="navigation-list">
    <li class="navigation-list__item">
      <a href="/" class="navigation-list__anchor">{% trans "Home" %}</a>
    </li>
    {% load_sections as sections %}
    {% for section in sections %}
    <li class="navigation-list__item">
      <a href="{% pageurl section %}" class="navigation-list__anchor">{{section.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
