{% load wagtailcore_tags compress static wagtailuserbar core_tags i18n %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% load google_analytics_tags %}
{% get_settings %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
        <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
        {% image self.social_media_image width-300 as tmp_photo %}
        <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
        {% image self.social_media_image width-300 as tmp_photo %}
        <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% compress css %}
          <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/style.css">
        {% endcompress %}
        <script type="text/javascript">
          var CutsTheMustard = 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window,
              LargeScreen = ((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) >= 200);

          var smartStyles = '{% spaceless %}
            {% compress css %}
             <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ ENV }}/state_320.css">
            {% endcompress %}
          {% endspaceless %}';

          if(CutsTheMustard === true) {
          if(LargeScreen) {
            document.write(smartStyles);
            }
          }
          </script>
        {% block extra_css %}{% endblock %}
          {% block Facebook_pixel %}{% endblock %}
    </head>

    <body  {% if LANGUAGE_CODE|language_bidi == True %}dir="rtl"{% endif %}>
      <div dir="ltr" class="languages l-indent f-small">
          {% for language in languages %}
            <a href="{% url 'locale_set' language.locale %}?next={{request.path}}?{{ request.GET.urlencode }}" {% if LANGUAGE_CODE == language.locale %} class="active" {% endif %}>{{language.locale|language_name_local}}</a>
          {% endfor %}
      </div>

      <div class="logo l-indent">
        <a href="/">
          {% if settings.core.SiteSettings.logo %}
            {% image settings.core.SiteSettings.logo height-65 %}
          {% else %}
            {% block logo %}
              <img src="{% static 'logo.jpg' %}" alt="{% trans "BabyCenter" %}" />
            {% endblock %}
          {% endif %}
        </a>
      </div>

      {% include "_base_navigation.html" %}

      {% block content %}
      {% endblock %}

      {% include "_base_navigation.html" with extra_classes="navigation--footer" %}

      {% block search %}
        {% if languages %}
          {% include "search/search_block.html" %}
        {% endif %}
      {% endblock %}

      <div class="copyright l-indent">&copy; {% now "Y" %} BabyCenter {% if 'bangladesh.babycenter.io' in request.get_host %}- Aponjon{% endif %}</div>

      {% if settings.core.SiteSettings.ga_tag_manager %}
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.ga_tag_manager}}{%if request.META.HTTP_X_IORG_FBS_UIP %}&freebasics_uip={{request.META.HTTP_X_IORG_FBS_UIP}}{%endif%}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{settings.core.SiteSettings.ga_tag_manager}}');</script>
      <!-- End Google Tag Manager -->
      {% endif %}

      {% if settings.core.SiteSettings.global_ga_tag_manager %}
        <!--Global Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.global_ga_tag_manager}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{settings.core.SiteSettings.global_ga_tag_manager}}');</script>
        <!-- End Global Google Tag Manager -->
        {% endif %}
        {% block extra_js %}{% endblock %}
      {% wagtailuserbar %}
    </body>
</html>
