{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

{% with section=self.get_parent_section %}
<a href="{% pageurl section %}">
  <h2 class="heading heading--{{section.get_effective_extra_style_hints}} m-generic-padding">
    {{section.title}}
  </h2>
  <span class="article-nav-button article-nav-button--{{section.get_effective_extra_style_hints}} l-indent">
    &lt; {% trans "Back" %}
  </span>
</a>
{% endwith %}

<div class="article article--{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="article__title">{{self.title}}</h1>

  <article class="article-block">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h4 class="article-block-title">{{ block.value }}</h4>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 class="article__image" %}
      {% elif block.block_type == 'numbered_list' %}
        <ol>
          {% for item in block.value %}
          <li>{{item}}</li>
          {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
    {% endfor %}
  <p class="article__date">{{self.first_published_at | date:"j F Y"}}</p>
  </article>

</div>

{% with section=self.get_parent_section %}
<h2 class="heading heading--{{section.get_effective_extra_style_hints}} m-generic-padding">
  {% trans "More Information" %}
</h2>
{% endwith %}

<!--more-info__links-->
<ul class="article-list l-indent">
  {% if self.get_prev_sibling %}
  <li class="article-list__item"><a href="{% pageurl self.get_prev_sibling %}">{{self.get_prev_sibling.title}}</a></li>
  {% endif %}
  {% if self.get_next_sibling %}
  <li class="article-list__item"><a href="{% pageurl self.get_next_sibling %}">{{self.get_next_sibling.title}}</a></li>
  {% endif %}
{% with section=self.get_parent_section %}
<a href="{% pageurl self.get_parent_section %}">
  <span class="article-nav-button article-nav-button--{{section.get_effective_extra_style_hints}} l-indent">
    {% trans "More" %}  &gt;
  </span>
</a>
{% endwith %}
</ul>


{% endblock %}
