
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<h1><a href="{% pageurl self.get_parent_section %}">{{self.get_parent_section}}</a></h1>
<div class="pagi"><a href="{% pageurl self.get_parent_section %}">&lt; {% trans "Back" %}</a></div>
<div class="articles nav {{self.get_parent_section.get_effective_extra_style_hints}}">
  <h3 class="article-title">{{self.title}}</h3>
  {% if self.image %}
  <div class="banner">{% image self.image width-240 %}</div>
  {% endif %}

<article>
  {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
  {% endfor %}
</article>
<p class="date">{{self.first_published_at | date:"j F Y"}}</p>
</div>
{% endblock %}

