{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

{% with section=self.get_parent_section %}
<a href="{% pageurl section %}">
  <h2 class="l-indent heading heading{{section.get_effective_extra_style_hints}}">
    {{section.title}}
  </h2>
  <h2 class="l-indent heading heading--back heading{{section.get_effective_extra_style_hints}}">
    &lt; {% trans "Back" %}
  </h2>
</a>
{% endwith %}

<div class="l-indent article article{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="article__title">{{self.title}}</h1>

  {% if self.image %}
    {% image self.image width-288 as article_image %}
    <img src="{{ article_image.url }}" class="article__image" />
  {% endif %}

  <article>
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h4>{{ block.value }}</h4>
      {% elif block.block_type == 'image' %}
        {% image block.value width-288 class="article__image" %}
      {% elif block.block_type == 'numbered_list' %}
        <ol>
          {% for item in block.value %}
          <li>{{item}}</li>
          {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
    {% endfor %}
  </article>

  <p class="article__date f-small">{{self.first_published_at | date:"j F Y"}}</p>
</div>

{% with section=self.get_parent_section %}
<h2 class="l-indent heading heading{{section.get_effective_extra_style_hints}}">
  {% trans "More Information" %}
</h2>
<ul class="article__links article__links{{section.get_effective_extra_style_hints}}">
  {% if self.get_prev_sibling %}
  <li class="article__link l-indent l-indent--tall"><a href="{% pageurl self.get_prev_sibling %}">{{self.get_prev_sibling.title}}</a></li>
  {% endif %}
  {% if self.get_next_sibling %}
  <li class="article__link l-indent l-indent--tall"><a href="{% pageurl self.get_next_sibling %}">{{self.get_next_sibling.title}}</a></li>
  {% endif %}
  <li class="article__link article__link--more l-indent l-indent--tall"><a href="{% pageurl self.get_parent_section %}">{% trans "More" %} &gt;</li>
</ul>
{% endwith %}


{% endblock %}
