{% extends "base.html" %}

{% load core_tags i18n %}
{% load wagtailcore_tags %}

{% block content %}
  <h1 class="l-indent heading heading{{self.get_effective_extra_style_hints}}">
    {{self.title}}
  </h1>
  {% load_child_articles_for_section self count=10 as articles %}
  <ul class="article-list">
  {% for article in articles %}
    <li class="l-indent l-indent--tall article-list__item">
      <a href="{% pageurl article %}">
        <h3 class="article-list__title article-list__title{{self.get_effective_extra_style_hints}}">{{article.title}}</h3>
      </a>
      <p class="article-list__subtitle">{{article.subtitle}}</p>
    </li>
  {% endfor %}
  </ul>

  {% if articles %}
  <div class="step-links l-indent l-indent--tall">
    {% if articles_paginated.has_previous %}
        <a href="?p={{ articles_paginated.previous_page_number }}">&larr;</a>
    {% endif %}
    <span class="current">
        Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
    </span>
    {% if articles_paginated.has_next %}
        <a href="?p={{ articles_paginated.next_page_number }}">&rarr;</a>
    {% endif %}
  </div>
  {% endif %}

{% endblock %}
