// Variables
//__________________________________________________________

//== Colors

$white_color                  :   #fff; //white
$shade_white_color            :   #f0f0f0;
$light_grey_color             :   #ebebeb; // light grey
$shade_light_grey_color       :   #e6e6e6;
$second_light_grey_color      :   #ddd;

$shade_grey_color             :   #67666b;
$grey_color                   :   #333 !default; // black
$dark_grey_color              :   #27262b; // dark grey

$black_color                  :   #000;
$turquoise_color              :   #32a6a6 !default; // turquoise
$blue_color                   :   #1473ad; // blue
$dark_turquoise_color         :   #124f52 !default; // dark turquoise
$yellow_color                 :   #c4d131 !default; // yellow
$green_color                  :   #69be28 !default; //green
$red_color                    :   #e52d47; // red
$orange_color                 :   #f7a11a; //orange


$turquoise_shade_color        :   lighten($turquoise_color, 65%);


// Typography

$bodyFont_sans_serif        : "Open Sans", Helvetica, Arial, sans-serif;
$bodyFont_serif             : Georgia, "Times New Roman", Times, serif;

//Colors array
$headings_colors : (
    recommend   : $orange_color,
    baby        : $green_color,
    pregnancy   : $turquoise_color
);



