
.article  {
  a {
    color: $orange;
  }
}

.article__title {
  margin: 16px 0;
  font-weight: bold;
}

.article__date {
  color: #999;
}

.article__image {
  width: 100%;
}

.article__image--square {
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 8px 0 0;
}

.article__link {
  border-bottom: 1px #e6e6e6 solid;
  a {
    color: #666;
  }
}  
.article__link--more {
   font-weight: bold;
 }

@each $name, $color in $color_list {
  .heading--back.heading--#{$name} {
    background-color: transparent;
    color: $color;
    border-bottom: 1px #e6e6e6 solid;
  }

  .article__links--#{$name} .article__link--more a {
    color: $color;
  }
}
