.heading {
  background: red;
  color: #fff;
  a {
    color: #fff;
  }
}

@each $name, $color in $color_list {
  .heading--#{$name} {
    background-color: $color;
    text-transform: capitalize;
  }
}
