.heading {
  background: red;
  color: #fff;
  padding: 5px 16px;
  a {
    color: #fff;
  }
}

@each $name, $color in $color_list {
  .heading--#{$name} {
    background-color: $color;
    text-transform: capitalize;
  }

  .heading--subsection--#{$name} {
    background: rgba($color,0.7);
  }
}
