.languages {
  background: #eee;
  text-align: right;
  border-bottom: 1px solid #ddd;
  a {
    &:after {
      content: " | ";
      color: #ddd;
    }
    &:last-child:after {
      content: "";
    }
  }
}
.language--inactive {
  color: #999;
}
.language--active {
    color: $orange;
}
