.article {
  position: relative;
}

.article-nav-button {
  display: block;
  border-bottom: 1px solid $light_grey_color;
  width: 100%;
}

.article-list {
  list-style: none;
  @extend .m-remove-margin-padding;
}

.article-list__item {
    padding: 14px 16px;
    border-bottom: 1px solid #e6e6e6;
}

.article-list__section {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    margin: 0 0 5px;
}

@each $name, $color in $headings_colors {
  .article-list__section--#{$name} {
    color: $color;
  }

  .article-list__item--more--#{$name} {
    color: $color;
    a {
       color: $color;
      font-weight: bold;
    }
  }

  .article-nav-button--#{$name} {
    color: $color;
  }
}

.article-list__title {
   margin: 0 0 5px;
   font-size: 17px;
   color: $shade_grey_color;
   display: inline;
}

.article-list__subtitle {
   font-weight: normal;
   margin: 0;
  display: inline;
}

.article-list__image  {
    width: 100%;
}

.article__title  {
   padding: 0.5em;
}

.article__subtitle  {
  padding: 0.5em 1em;
}

.article__image {
    width: 100%;
    max-width: 100%;
  	padding: 0.5em;
}
.article-block {
  padding: 0.5em 1em;
}

.article-block-title {
 display: block;
}

.article__date {
  text-transform: uppercase;
  color: #ccc!important;
}

@import "m-heading";