
.article-list__item {
  padding: 10px 16px;
  overflow: auto;
  border-bottom: 1px solid #e6e6e6;
  a {
    color: #666;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.article-list__image {
  float: left;
  margin: 0 8px 0 0;
}

.article-list__item--more {
  font-weight: bold;
}

.article-list__title {
  font-weight: bold;
  display: inline;
  margin-right: 5px;
}

.article-list__subtitle {
  display: inline;
}

.article-list__section {
  font-size: $font-medium;
}

@each $name, $color in $color_list {
  .article-list__item--#{$name} .article-list__section {
    color: $color;
  }

  .article-list--#{$name} .article-list__item--more a {
    color: $color;
  }
}
