
.subsection-container {
	.section-list__more  {
		font-size: 14px;
	}
}

.subsection-list--gray {
	background: #B1B1B1;
}

.subsection-list__title {
	color: #fff;
	display: block;
	padding: 7px 16px;
}
