.section__title {
  background: #B1B1B1;
  color: #fff;
  padding: 6px 16px;
  a {
    color: #fff;
    display: block;
  }
}

.section__title--orange {
  background: $orange;
}

.section-list__more {
  display: block;
  padding: 0 16px 10px;
  color: #666;
  font-weight: bold;
  &:after {
    content: ">";
    padding: 0 10px;
  }
}


