.versions {
  color: black;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  &-header {
    padding-top: 60px;
    background-color: #21e0d8;
  }
  //TABLE
  table {
    border: 1px solid black;
  }
  td {
    border: 1px solid black;
    padding: 5px;
    font-size: 13px;
    text-align: left;
  }
  th {
    border: 1px solid black;
    padding: 5px;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
  }
  a {color: red;}
  //FEEDBACK
  .latest {
    color: #20C320;
  }
  .plugin {
    font-weight: bold;
  }
  .not-installed {
    color: orange;
  }
}
