
.versions-header {
  padding-top: 60px;
  background-color: #21e0d8;
}

.versions {
  color: black;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.versions table {
      border: 1px solid black;
  }

.versions td {
      border: 1px solid black;
      padding: 5px;
      font-size: 13px;
      text-align: left;
  }

.versions th {
      border: 1px solid black;
      padding: 5px;
      font-size: 13px;
      text-align: left;
      font-weight: bold;
  }

.versions  a {
    color: red;
  }

.versions .latest{
    color: #20C320;
  }

.versions .plugin{
    font-weight: bold;
  }

.versions .not-installed{
    color: orange;
  }