html, body {
  margin: 0;
  background: #fff;
}

html, body, input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #666;
}


a {
  text-decoration: none;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}


.f-small {
  font-size: 12px;
}
.f-big {
  font-size: 19px;
}
