$orange : #f7a11a;
$blue   : #00b0ca;
$green  : #69be28;
$brown  : #ad7554;
$pink   : #ee356f;

$color_list: (
  orange : $orange,
  blue   : $blue,
  green  : $green,
  brown  : $brown,
  pink   : $pink
);
